/* .boxes{
    display: flex;
    margin: 100px;
}
.box{
    background-color: rgb(36, 0, 239);
    width: 200px;
    height: 200px;
    margin-left: 40px;
    margin-top: 70px;
}
.input{
    display: flex;
    flex-direction: column;
    max-width: 70%;
} */
/* --------------------------------------------- */
/* .input{
    margin-top: 5px;
} */
/* --------------------------------------------- */